<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="small">Cadastre o seu animal:</ion-title>
    </ion-toolbar>
  </ion-header>

  
     
   

  <p></p>
  <ion-button color="primary"  (click)="exibirPagina3()">Do meu Cachorro</ion-button>
  <p></p>
  <ion-button color="primary"  (click)="exibirPagina4()">Do meu Gato</ion-button>
  <p></p>
 
  
  <div class="ion-text-center">
  <ion-button color="primary"  expand="block" (click)="Voltarpagina()">Voltar</ion-button>
  </div>
  
  </ion-content>
  

